node_modules
**/node_modules
dist
**/dist
!apps/dh-frontend/dist
!apps/dh-frontend/dist/**
.target
**/target
.git
**/.git
*.log
.DS_Store
.env
.env.local
.codebuddy
.cursor
.nx
.turbo
coverage
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
**/__pycache__

